body {
    line-height: max(1.6em, 1em + 1ex);
    color: var(--black);
    font-family: system-ui, sans-serif;
}

body> :is(header, main, footer) {
    padding-inline: max((100% - 1200px) / 2, 1rem);
}