:root {
    --primary: oklch(50% .27 265);
    --primary-light: color-mix(in oklab, var(--primary), #fff 25%);
    --primary-dark: color-mix(in oklab, var(--primary), #000 25%);

    --secondary: #13183e;

    --accent: oklch(50% .17 265);

    --black: oklch(10% none none);
    --gray: oklch(50% none none);
    --light-gray: oklch(75% none none);

    --cta-bg: linear-gradient(180deg, #ff6f4b, #f329a6);
    --cta-bg-alternative: linear-gradient(180deg, #e530a6, #794dc4);
    --default-btn-bg: var(--accent);
}