---
import Button from "../components/Button.astro";
import Image from "../imgs/image.jpg";
---

<header>
  <div class="content">
    <h1>Maximize skill, minimize budget</h1>
    <p>
      Our modern courses across a range of in-demand skills will give you the
      knowledge you need to live the life you want.
    </p>
    <Button variant="primary" href="/courses">Get started</Button>
  </div>
  <figure>
    <img src={Image} width={400} alt="" />
  </figure>
</header>

<style>
  header {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    gap: 2rem;
  }

  header > * {
    flex: 1 1 45%;
  }

  .content {
    display: grid;
    gap: 2rem;
    justify-items: start;
  }

  h1 {
    line-height: 1.25;
    max-width: 16ch;
  }

  p {
    color: #73747c;
  }

  img {
    inline-size: 100%;
    display: block;
  }
</style>